---
layout: default
title: The Lab @ DC - Work with Us
header: true
---

<main role="main"> <!-- main content starts here -->

<section id="no-jobs-panel" class="panel">
  <div class="panel__content panel--title">
    <h1 class="panel__title">
      <span class="panel--red">Jobs</span>
    </h1>
  </div>
  <div class="panel__content panel--blue">
    <p>We are always looking for civically minded people with a passion for science to work in District government. The Lab @ DC has a number of avenues by which people can join the team whether part-time or full-time, temporary or permanent, and at a variety of professional levels. These include:<br />
<br />
<b>Staff Positions</b><br />
From time to time, The Lab looks for Operations Analysts, Data Scientist, and Social Scientists to join our team at both the staff and senior staff levels. Look for and apply for positions via DC Human Resources.<br /> 
<br />
      <b>Personnel Exchanges</b><br />
University-based academics can join The Lab in part-time and full-time capacities during sabbaticals or their research hours. It’s an excellent opportunity for a wide variety of disciplines to gain experience in applied research. We are currently seeking Social Scientist through October 15, 2019. Explore position descriptions:<br /> 
      <li><a href="src/images/Senior-Social-pd.pdf">Senior Social Scientist</a></li>
      <li><a href="./images/Social pd.pdf">Social Scientist</a></li>
<br />
<b>DC Government Agency Fellowships</b><br />
The Lab is dedicated to fostering a scientific community by engaging and collaborating with experts not just here in the Office of the City Administrator, but across District agencies. A  number of  staff based at other DC agencies (e.g. the Metropolitan Police Department, the Office of the Chief Technology Officer, and the Deputy Mayor for Public Safety and Justice) serve as Lab Fellows. Fellows work closely with The Lab on cutting-edge projects in support of their agency’s agenda. Interested District government staff should connect with <a href="mailto:karissa.minnich@dc.gov">Karissa Minnich</a>, Senior Operations Analyst.<br />
<br />
<b>Internships</b><br />
Undergraduate and graduate-level interns join The Lab @ DC for a semester at a time through DC Government’s District Leadership Program (DLP) in the summer (May - August) and the Mayor’s Leadership Engagement Achievement and Development (LEAD) program during the academic year (September - December and January - May). Applications are accepted through DC Human Resources and the Mayor’s Office of Talent and Appointments.<br /> 
<br />
<b>Research Assistants</b><br />
Through partnerships with American University and the University of the District of Columbia, The Lab @ DC hosts graduate-level research assistants each semester of the academic year for part-time work. Interested AU and UDC students should connect with their university Dean. Not at AU or UDC? The Lab is always looking to build partnerships with other DC universities. Connect with <a href="mailto:karissa.minnich@dc.gov">Karissa Minnich</a>, Senior Operations Analyst, to start a discussion.<br />  
</p> 
  </div>  
</section>

<section id="jobs-panel">
  
  <div class="">
    {% if site.data.jobs.jobPostings %}
      {% for i in site.data.jobs.jobPostings %}
      {% capture parity %}{% cycle "odd", "even" %}{% endcapture %}
      <div class="job-posting panel" style="background-image: url({{i.job_image.url}})">
        {% if parity == "even" %}
        <div class="panel__content">
          <h2 class="panel__title"><span class="panel--blue">{{i.job_title}}</span></h2>
        </div>
        {% endif %}
        
        <div class="panel__content panel--red">
          <p>{{ i.short_description | markdownify }}</p>
          {% if i.qualifications %}
            {% assign quals = i.qualifications | strip %}
            {% if quals %}
              <h3>Qualifications</h3>
              <p>{{ i.qualifications | markdownify }}</p>
            {% endif %}
          {% endif %}
          {%comment%}
            <a class="button" href="{{ i.application_url }}">Apply</a>
          {%endcomment%}
        </div>
        
        {% if parity == "odd" %}
        <div class="panel__content">
          <h2 class="panel__title"><span class="panel--blue">{{i.job_title}}</span></h2>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
    <div class="job-posting panel panel--no-jobs">
        <div class="panel__content">
        </div>
        <div class="panel__content panel--blue">
          <p>Our team is made of Data Scientist, Social Scientists, and Operations Analysts from a variety of disciplines. At this time, we have no open positions.</p>
        </div>
      </div>
    {% endif %}
  </div>
</section>
</main>
