---
layout: default
title: The Lab @ DC - Work with Us
header: true
---

<main role="main"> <!-- main content starts here -->

<section id="no-jobs-panel" class="panel">
  <div class="panel__content panel--title">
    <h1 class="panel__title">
      <span class="panel--red">Jobs</span>
    </h1>
  </div>
  <div class="panel__content panel--blue">
    <p><b><span style="font-size:1.2em">We are always looking for civically minded people with a passion for science to work in District government.  We are currently seeking a <u><a href="https://careers.dc.gov/psc/erecruit/EMPLOYEE/HRMS/c/HRS_HRAM_FL.HRS_CG_SEARCH_FL.GBL?Page=HRS_APP_JBPST_FL&Action=U&FOCUS=Applicant&SiteId=1&JobOpeningId=9134&PostingSeq=1">Senior Data Scientist</a></u>. Applications are open through December 8, 2019.<br><br></span></b> 
<br />  
The Lab @ DC is seeking a Senior Data Scientist who can use their expertise in machine learning and causal inference to make a positive, lasting difference for DC residents. Join our team of Social Scientists, Data Scientists, and Operations Analysts at the forefront of evidence-based policy. Working within the Executive Office of the Mayor of the District of Columbia, you will use insights from large administrative datasets to affect a variety of policy decisions in areas like public safety, economic security, housing and homelessness, public health, and education. The Lab has the relationships and access to data in each of these policy areas to support this important work. As Senior Data Scientist, you will conduct original work using these data and lead a small team of Data Scientists working towards the same goals.Your contributions will directly inform decisions at the highest levels of DC government and allow you to see your impact on DC residents. 

In short, you’ll do rigorous data  science that makes a difference for those that need it most.
  
<br />
      <b>What we’re looking for:</b>
<li>A drive to use their skills in programming, statistics, and scientific communication to make a positive difference in DC residents’ lives, particularly for historically disadvantaged populations.</li>
<li>Expertise in creatively determining which analytic approaches and computing techniques are most appropriate for a given dataset and policy or program need.</li>
<li>At least a Master’s degree in computer science, data science, economics, statistics, mathematics, or other quantitative field.</li>
<li>Expertise using R or Python (ideally, both) for descriptive statistics, predictive analytics, machine learning, causal inference and other scientific methods to learn about and derive insights from the patterns and relations within complex datasets.</li>
<li>Experience accessing data through a variety of methods including APIs, SQL databases, SSH/SFTP. A plus for experience designing and building data infrastructure needs.</li>
<li>Experience managing projects, including timelines and stakeholder communications.</li>
<li>A leader who can push both their team and data science in DC government forward.</li>
<br />      
      <b>What’s in it for you:</b>
<li>The opportunity to contribute to key policy and budgetary decisions</li> 
<li>Skills to influence how policies and programs are designed across a range of important issues</li>
<li>The ability to shape the strategic direction for data science across DC government</li>
<li>Experience at the forefront of applied machine learning, data engineering, and field experiments</li>
<li>Use large record-level datasets - sometimes going back decades - from a city, county and state (DC functions as all three) for the public good</li>
<li>Collaborating day-to-day with a tight-knit interdisciplinary team of nerds with a passion for public service</li>
<li>Publications (from tweet storms and blog posts to press and peer-reviewed journals)</li>
<li>Presentations at academic, government, and industry conferences</li>
<br />  
      <b>You’ll submit your application through DCHR’s website. Here are some tips we recommend.</b> 
<li>If you have any trouble with the link above, please go to https://careers.dc.gov/ and Search for job ID “9134.” The position is located in the Office of the City Administrator.</li>
<li>You will need to create a login, but after that you can save and return to your application at any time.</li>
<li>In Step 6 “Education and Work Experience,” you need to complete only the “Work Experience” Section. We’ll get everything else from the Resume/CV you upload in Step 2.</li>
<li>Please do not submit a cover letter or any supplemental materials (we don’t plan to read them).</li> 
<li>Please don’t hesitate to email The.Lab@DC.gov if you have any questions or issues — we’re happy to troubleshoot.</li>
<br />        
</p> 
  </div>  
</section>

<section id="jobs-panel">
  
  <div class="">
    {% if site.data.jobs.jobPostings %}
      {% for i in site.data.jobs.jobPostings %}
      {% capture parity %}{% cycle "odd", "even" %}{% endcapture %}
      <div class="job-posting panel" style="background-image: url({{i.job_image.url}})">
        {% if parity == "even" %}
        <div class="panel__content">
          <h2 class="panel__title"><span class="panel--blue">{{i.job_title}}</span></h2>
        </div>
        {% endif %}
        
        <div class="panel__content panel--red">
          <p>{{ i.short_description | markdownify }}</p>
          {% if i.qualifications %}
            {% assign quals = i.qualifications | strip %}
            {% if quals %}
              <h3>Qualifications</h3>
              <p>{{ i.qualifications | markdownify }}</p>
            {% endif %}
          {% endif %}
          {%comment%}
            <a class="button" href="{{ i.application_url }}">Apply</a>
          {%endcomment%}
        </div>
        
        {% if parity == "odd" %}
        <div class="panel__content">
          <h2 class="panel__title"><span class="panel--blue">{{i.job_title}}</span></h2>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
    <div class="job-posting panel panel--no-jobs">
        <div class="panel__content">
        </div>
        <div class="panel__content panel--blue">
          <p>Our team is made of Data Scientist, Social Scientists, and Operations Analysts from a variety of disciplines.</p>
        </div>
      </div>
    {% endif %}
  </div>
</section>
</main>
